html {
  scroll-behavior: smooth;
}

.headerlink {
  color: darkslategray;
}

.headerlink:hover {
  color: darkgray;
}

.noncenter {
  text-align: left;
}

.area {
  margin: auto;
  width: 75%;
}

.parag {
  text-align: left;
}

.icon {
  margin-left:  4px;
  margin-right: 4px;
}

.icons {
  margin-bottom: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F1F0EB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Garamond;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Portfolio {
  width: 100%;
  margin-bottom: 64px;
}

.Portfolio img {
  width: 95%;
  height: 95%;
  margin: 2.5%;
}

.Image {
  background-color: white;
  width: 240px;
  height: 240px;
  margin: 8px;
  float: left;
}

.Images {
  width: 75%;
  margin: auto;
}

.Home {
  width: 100%;
  color: white;
  background-color: #9C5E41;
  padding-bottom: 16px;
}

.Services {
  width: 100%;
  color: darkslategray;
  background-color: #BFB0A1;
  padding-bottom: 16px;
  margin-bottom: 64px;
}

.Header {
  margin-bottom: 64px;
}

.Header ul { 
  list-style: none outside none; 
  margin:0; 
  padding: 0; 
  text-align: center; 
}

.Header li { 
  margin: 0 10px; 
  display: inline; 
}

.Footer {
  width: 100%;
  background-color: #9C5E41;
}

.Footer p {
  color: white;
  font-size: 14px;
}

.Contact {
  width: 100%;
  background-color: #9C5E41;
  color: white;
}